<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.montefiore.thaidinhle.wifi.p2p.flutter_wifi_p2p">

  <uses-permission
    android:required="true"
    android:name="android.permission.ACCESS_FINE_LOCATION"
  />
  <uses-permission
    android:required="true"
    android:name="android.permission.ACCESS_WIFI_STATE"
  />
  <uses-permission
    android:required="true"
    android:name="android.permission.CHANGE_WIFI_STATE"
  />
  <uses-permission
    android:required="true"
    android:name="android.permission.INTERNET"
  />
</manifest>
